_build/**

# IDE & cache
.ipynb_checkpoints
.idea/
.jupyter_cache/

# For language support.
# We create .pot catalog template using
#    sphinx-build -b gettext . locales/_build/gettext
# Here, keep .pot files and nothing else under locales/_build
locales/_build/**/*.*
!locales/_build/**/*.pot

# Other
.DS_Store
*.tmp
*.bak
*.swp
*~.nib
*thumbs.db
bin/
*.pyc

nbs/data/*
