numpy==1.24.2
myst_nb==0.17.1
pandas==1.4.3
imageio==2.26.0
scikit_image==0.20.0
matplotlib==3.7.1
scipy==1.10.1
jupyter-book==0.15.1
jupytext==1.14.5
sphinx-sitemap==2.5.0
# See https://github.com/mwouts/jupytext/issues/1051
nbclassic>=0.5.5
