.question {
  background-color: #F8F8F8;
  padding: 0 2% 0 2%;
  /* font-weight: bold; */
}
.sd-tab-set{
  background-color: #FCFCFC;
  padding: 0 2% 0 2%;
}
.solution {
  font-weight: bold;
  /* background-color: rgba(140, 80, 80, 0.1); */
}
.practical {
  background-color: rgba(80, 140, 80, 0.1);
}

/*
 * Default video styling for responsive size
 */
video {
 max-width: 100%;
 height: auto;
}

/*--------------------------------------------------------------------*\
Styling for Embedded Videos (iframes)
- Ensures that videos can resize to suit the screen the book is read from.
- Also ensures that videos are horizontally centered.
From https://github.com/alan-turing-institute/the-turing-way/blob/328d54a75adae02090bd017d169a6dd79beea4de/book/website/_static/book-stylesheet.css
\*--------------------------------------------------------------------*/

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe {
  margin: auto;
  display:block;
}
